@media(max-width: 1024px) {
    .header-navigation {margin-bottom: 0;}
    .navbar-header {
        width: 100%;
        float: none;
        margin: 0 !important;
    }
    .navbar-nav {
        margin: 0;
    }
    .navbar-default .navbar-toggle {
        display: block;
        margin-right: 0;
        border-color: #212121;
        background-color: transparent !important;
        margin: 40px 0;
    }
    .navbar-default .navbar-toggle:hover {border-color: #EC1A23;}
    .navbar-default .navbar-toggle .icon-bar {background: #212121;}
    .navbar-default .navbar-toggle:hover .icon-bar {background: #EC1A23;}
    .navbar-collapse.collapse {
        display: none!important;
        height: 0!important;
        padding-bottom: 0;
        overflow: auto!important;
        width: 100%;
    }
    .navbar-default .navbar-collapse {
        background: transparent;
        padding: 0px 0px !important;
        padding-bottom: 0px !important;
        border: 1px solid #838ca3;
        margin: 0;
        background: #EC1A23;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
        height: auto !important;
        max-height: 70vh;
    }
    .navbar-collapse.in {
        overflow-y: auto;
    }
    .header-navigation.navbar .nav {
        width: 100%;
        text-align: left;
    }
    .header-navigation.navbar .nav > li {
        display: block;
        padding: 0 !important;
        width: 100%;
        float: none;
    }
    .header-navigation.navbar .nav > li + li {margin-left: 0;}
    .header-navigation.navbar .nav > li > a {
        padding: 8px 0;
    }
    .header-navigation.navbar .right-box.nav {
        width: 100%;
        margin: 0;
    }
    .header-navigation.navbar .right-box.nav > li > a {
        border: none !important;
        padding: 8px 0;
        color: #fff;
    }
    .header-navigation.navbar .nav > li > a:after {
        display: none;
    }
    .header-navigation.navbar .nav.navigation-box + .nav {
        border-top: 1px dashed #282828;
    }
    .header-navigation.navbar .navbar-nav > li > .sub-menu,
    .header-navigation.navbar .navbar-nav > li > .sub-menu > li > .sub-menu {
        position: relative !important;
        width: 100% !important;
        opacity: 1 !important;
        visibility: visible !important;
        left: auto;
        right: auto;
        top: auto;
        transition: none;
        display: none;
        float: none;
        margin: 0;
    }
    .header-navigation.navbar .navbar-nav > li > .sub-menu > li > a::after {
        display: none;
    }
    .header-navigation.navbar .nav > li + li {
        padding: 0 !important;
        border-top: 1px solid rgba(255,255,255,.1);
        display: block;
        float: none;
    }
    .header-navigation.navbar .nav > li.show-mobile {display: none;}
    .header-navigation.navbar .nav > li > a,
    .header-navigation.navbar .right-box.nav > li > a {
        padding: 0;
        display: block;
        padding: 16px 0 16px 20px !important;
        transition: background 0.4s ease 0s;
        text-transform: capitalize;
        color: #fff !important;
    }
    .header .stricky-fixed.header-navigation.navbar .nav > li {
        padding: 0 !important;
    }
    .header-navigation.navbar .navbar-nav .sub-nav-toggler {
        background-color: transparent;
        background-image: none;
        border: 1px solid #fff;
        border-radius: 4px;
        padding: 9px 9px;
        position: absolute;top:0;right:0;margin-top: 11px;
        margin-right: 10px;
        display: block;
    }
    .header-navigation.navbar .navbar-nav .sub-nav-toggler .icon-bar {
        background-color: #fff;
        border-radius: 1px;
        display: block;
        height: 1px;
        width: 20px;
    }
    .header-navigation.navbar .navbar-nav .sub-nav-toggler .icon-bar + .icon-bar {
        margin-top: 4px;
    }
    .header .header-navigation.navbar .nav > li + li {margin-left: 0;}
    .header .header-navigation .navbar-form {width: 100%;max-width: 100%;}
    .header-navigation .container {padding-right: 15px;padding-left: 15px;}
    .navbar-header {padding-right: 0px;}
    .header-navigation ul.navigation-box > li > ul.sub-menu > li > a .sub-nav-toggler {border-color: #171717}
    .header-navigation ul.navigation-box > li > ul.sub-menu > li > a .sub-nav-toggler .icon-bar {background-color: #171717}
    .header-navigation .container .navbar-brand {padding: 0px 0;}
    .header-navigation ul.navigation-box > li:hover > a,
    .header-navigation ul.navigation-box > li.current > a {background: #EC1A23;color: #fff !important;}
    .header-navigation .container {padding-right: 15px;}
    .header-navigation .container .navbar-header {padding-right: 300px;}
    .header-navigation .container .right-side-box {top:10px;-webkit-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0);right: 15px;}
    .header-navigation .container .navbar-header {position: static;-webkit-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0);}
    .header-navigation ul.navigation-box > li::before {display: none;}
    .header-navigation .container .navbar-header {padding-right: 0;text-align: center;position: relative;padding-left: 0;left: 0;}
    .header-navigation .container .navbar-header .navbar-brand {text-align: center;display: inline-block;float: none;vertical-align: middle;}
    .header-navigation .container .navbar-header .navbar-brand > img {margin-left: auto;margin-right: auto;}
    .navbar-default .navbar-toggle {margin: 0;float: none;position: absolute;top:50%;transform: translateY(-50%);border: none;outline: none;font-size: 25px;color: #FFFFFF;padding-left: 0;padding-right: 0;}
    .navbar-default .navbar-collapse {background-color: #181818;}
    .header-home-two .header-navigation .container .right-side-box {top: 15px;}
    .header-home-three .header-navigation .container {padding-right: 15px;}
    .header-home-three .navbar-default .navbar-toggle {color: #252C32;}
    .header-home-three .header-navigation .container .right-side-box {top: 15px;}
}
@media (max-width: 1024px) {
    img {max-width: 100%;}
    .testimonials-style-one .single-testimonial-style-one .content-box p br,
    .sec-title p br {display: none;}
    .service-style-one .single-service-style-one .content-box .icon-box, .service-style-one .single-service-style-one .content-box .text-box {display: block;}
    .service-style-one .single-service-style-one .content-box .text-box {padding-left: 0;padding-top: 20px;}
    .about-style-two img.pull-right {max-width: none;}
    .about-style-two .about-content{padding-right: 65px;}
    .testimonials-style-one .testimonials-carousel-style-one.owl-theme .owl-nav {margin-top: 60px;}
    .testimonials-style-one .testimonials-carousel-style-one.owl-theme .owl-nav [class*="owl-"] {position: static;margin: 0 15px;}
    .footer-subscribe [class*=pull-] {width: 100%;text-align: center;}
    .site-footer .footer-subscribe h3 {line-height: 1.2em;}
    .site-footer .footer-subscribe form.footer-subscribe-form {margin-left: auto;margin-right: auto;margin-top: 20px;}
    .site-footer .footer-widget.twitter-widget,
    .site-footer .footer-widget.links-widget {padding-left: 0;}
    .cta-style-one h3 {font-size: 20px;line-height: 1.2em;margin-bottom: 20px;}
    .feature-style-one {padding-left: 0;}
    .single-contact-info p br,
    .about-us-style-one h3 br {display: none;}
    .project-single-page .single-project-content {padding: 0;}
    .testimonials-style-one .single-testimonial-style-one {padding-right: 0;}
    .sidebar.sidebar-left {padding-right: 0;}
    .sidebar.sidebar-right {padding-left: 0;}
}

@media (max-width: 800px) {
    .about-style-two img.pull-right {max-width: 100%; margin-bottom: 50px;}
    .about-style-two .about-content {padding-left: 0;padding-right: 0;padding-bottom: 50px;}
    .service-style-one .service-carousel-one.owl-theme .owl-dots {display: none !important;}
    .service-style-one .service-carousel-one.owl-theme .owl-nav {width: 100%;text-align: center;}
    .cta-style-one [class*=pull-] {width: 100%;text-align: center;}
    .testimonials-style-one .single-testimonial-style-one .top-box i.qoute-icon {display: none;}
    .request-a-qoute .title {padding-top: 0;padding-right: 0;padding-bottom: 50px;}
    .request-a-qoute form.contact-form button[type="submit"] {margin-top: 20px;}
    .feature-style-one {padding-left: 0;padding-top: 50px;}
    .sec-title {text-align: center;}
    .sec-title .text-right {text-align: center;}
    .sec-title p {margin-top: 5px;width: 70%;margin-left: auto;margin-right: auto;}
    .sec-title .thm-btn {margin-top: 10px;}
    .site-footer .footer-widget {margin-bottom: 40px;}
    .site-footer .footer-top {padding-bottom: 60px;}
    .blog-style-two {padding-bottom: 50px;}
    .blog-style-two .single-blog-style-two {margin-bottom: 50px;}
    .header-navigation .container .right-side-box a.search-btn {margin-right: 30px;}
    #minimal-bootstrap-carousel .carousel-caption .container .box .content {padding-left: 50px;padding-right: 50px;}
    .cta-style-two .cta-style-two-1 {padding-left: 86px;padding-right: 86px;}
    .faq-feature-wrapper  .faq-accrodion {margin-bottom: 50px;}
    .service-style-one.home-page-three .single-service-style-one .content-box .icon-box, .service-style-one.home-page-three .single-service-style-one .content-box .text-box {display: table-cell;vertical-align: middle;}
    .service-style-one.home-page-three .single-service-style-one .content-box .text-box {padding-left: 20px;padding-top: 0;}
    .map-contact-info.home-page-two .contact-info-box {padding-bottom: 50px;}
    .map-contact-info.home-page-two .contact-info-box .title {margin-bottom: 30px;}
    .map-contact-info.home-page-three .contact-info-box .title {margin-bottom: 30px;}
    .video-box {margin-top: 50px;}
    .sidebar.sidebar-left {margin-bottom: 80px;}
    .sidebar.sidebar-right {margin-top: 80px;}
    .project-single-page .single-project-content {margin-top: 50px;}
    .testimonials-style-one.testimonials-page {padding-bottom: 50px;}
    .testimonials-style-one.testimonials-page .single-testimonial-style-one {margin-bottom: 50px;}
    .testimonials-style-one .row + .row {border: none;margin-top: 0;padding-top: 0;}
    .contact-page-content .contact-info {margin-top: 50px;}
    .map-contact-info.home-page-three #home-three-google-map {margin-top: 80px;}
    .testimonials-style-one .testimonials-carousel-style-two {padding-left: 0;}
    .about-us-style-one .about-content {margin-bottom: 50px;padding-top: 0;}
}

@media (max-width: 736px) {
    .faq-feature-wrapper {overflow: hidden;}
    .contact-page-content .contact-form input, .contact-page-content .contact-form textarea {margin-bottom: 30px;}
}

@media (max-width: 667px) {
    .header-top .container > [class*=pull-] {width: 100%;text-align: center;}
    .header-top .container > [class*=pull-left] {margin-bottom: 10px;}
    .slider-home-one .content h2 br,
    .slider-home-two .content h2 br,
    .slider-home-three .content h2 br,
    .slider-home-one .content p br,
    .slider-home-two .content p br,
    .slider-home-three .content p br {display: none;}
    .slider-home-one .content h2,
    .slider-home-two .content h2,
    .slider-home-three .content h2 {font-size: 50px;line-height: 55px;}
    .inner-banner {padding-top: 300px;}
}

@media (max-width: 585px) {
    .project-style-three .owl-theme .owl-nav {position: static;}
    .header-navigation .container .right-side-box a.rqa-btn {display: none;}
    .header-navigation .container .right-side-box a.search-btn {margin-right: 0;}
    .header-navigation .container .right-side-box {top: 20px;}
    .header-navigation.stricky-fixed .container .right-side-box {top: 15px;}
    .header-home-two .header-navigation .container .right-side-box {top: 25px;}
    .header-home-three .header-navigation .container .right-side-box {top: 20px;}
}

@media (max-width: 480px) {
    .sec-title p {width: 80%;}
    .footer-bottom .container > [class*=pull-] {width: 100%;text-align: center;}
    .footer-bottom .container > [class*=pull-left] {margin-bottom: 10px;}
    .project-style-one .gallery-filter ul li + li {margin: 0;}
    .project-style-one .gallery-filter ul {margin-left: -10px;margin-right: -10px;}
    .project-style-one .gallery-filter ul li {padding-left: 10px;padding-right: 10px;}
    .cta-style-two .cta-style-two-1,
    .cta-style-two .cta-style-two-2 {padding: 50px 30px;}
    #minimal-bootstrap-carousel.slider-home-two .carousel-inner .item {min-height: 650px;}
    .single-blog-page-content .author-box .img-box, .single-blog-page-content .author-box .text-box {display: block;}
    .single-blog-page-content .author-box .text-box  {padding-left: 0;padding-top: 40px;}
    .about-style-two .about-content .brand-logos img {width: 20%;}
}

@media (max-width: 414px) {
    #minimal-bootstrap-carousel.slider-home-two .carousel-inner .item {min-height: 520px;}
    #minimal-bootstrap-carousel .carousel-caption .container .box .content {padding-left: 0 !important;padding-right: 0 !important;}
    .slider-home-one .content h2,
    .slider-home-two .content h2,
    .slider-home-three .content h2 {font-size: 36px;line-height: 40px;}
}
@media (max-width: 375px) {

    .sec-title p {width: 100%;}
    .faq-style-one .accrodion-grp .accrodion .accrodion-title h4::before {right: -10px;}
    .header-top .container > [class*=pull-left] {margin-bottom: 0px;}
    .header-top .left-contact-info p + p, .header-top .right-contact-info p + p {margin-left: 0;}
    .header-top .left-contact-info p , .header-top .right-contact-info p  {display: block;width: 100%;text-align: center;}

}
@media (max-width: 320px) {

}
